.welcome_elem{
    padding: 15px;
    border: 2px solid #d8134e;
    border-radius: 20px;
    color:#ffffff
}
body{
    font-family: sans-serif,narrow;
    background-color: #1A1A1D;
}
input[type=text]{
    background-color: #4e4e50;
    border: 2px solid #be054f;
    border-radius: 25px ;
    color: #ffffff;
}

input[type=date]{
    background-color: #4e4e50;
    border: 2px solid #be054f;
    border-radius: 25px ;
    color: #ffffff;
}
input[type=password]::placeholder{
    color:#beb9b9
}
input[type=password]{
    background-color: #4e4e50;
    border: 2px solid #be054f;
    border-radius: 25px ;
    color: #ffffff;
}

input[type=email]{
    background-color: #4e4e50;
    border: 2px solid #be054f;
    border-radius: 25px ;
    color: #ffffff;
}
input[type=email]::placeholder{
    color:#beb9b9
}
.sides{
    background-color: #2f2f30;
    border: 2px solid #be054f;
    border-radius: 25px;
    color: #ffffff;
}
input[type=text]:focus{
    outline: 0; 
    background-color: #1b1b1d;
    border: 2px solid #be054f;
    border-radius: 25px ;
    color: #ffffff;
    
}
.auctions_elem{
    border: 2px solid #66fcf1;
    border-radius: 20px;
    color:#ffffff;
    padding: 15px;
}
.auctions_elem_1{
    border: 2px solid #5680e9;
    border-radius: 20px;
    color:#ffffff;
    padding: 15px;
}
.auctions_elem_3{
    border: 2px solid #FCCD04;
    border-radius: 20px;
    color:#ffffff;
    padding: 15px;
}
.card_img{
    width: 330px;
    height: 250px;
    object-fit: cover;
    /* border-radius: 19px; */
}
.custom_card{
    border:2px solid #45A29E;
    border-radius: 5px;
    background-color: #181d24; 
}
.custom_card_1{
    border:2px solid #45A29E;
    border-radius: 5px;
    background-color: #181d24; 
}
.checkoutmore{
    background-image: linear-gradient(45deg,#5fa7a3,#66fcf1);
    color:#181d24;
}
.loginbtn{
    border-radius: 4px;
    outline: none;
    color:#ffffff;
    background-image: linear-gradient(45deg,#9e1b58,#f11859);
    
}
.loginbtn:hover{
    background-color: #181d24;
    border: 2px solid #d8134e;
    background-image: none;
    color: #ffffff;
    
   
}
.login_hov{
    background-color: #181d24;
    border: 2px solid #d8134e;
    background-image: none;
    color: #ffffff;
}
.login_hov:hover{
    background-color: #1a1b1d;
    border: 2px solid #f8054e;
    background-image: none;
    color: #ffffff;
}
.search{
    
    color:#080808;
    /* border:1px solid white; */
    border-radius: 5px;
    background-image: linear-gradient(45deg,#1b9e88,#18f160);
}
.auction_card_1{
    background-color: #181d24;
}

.offer_card{
    background-color: #181d24;
    color: #ffffff;
    border: 2px solid #ccff00;
    border-radius: 15px;
}
.loggedin{
    background-image: linear-gradient(45deg,#1b9e88,#18f160);
}


.money_text{
    font-size:50px
}
.gradient-text {
    background-color: #24d7f7;
    background-image: linear-gradient(0deg, #e61050, #66fcf1);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.gradient-text-1 {
    background-color: #24d7f7;
    background-image: linear-gradient(0deg, #1cec8b, #a2e91e);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
/* .gradient-text {
    background-color: #f3ec78;
    background-image: linear-gradient(#f3ec78, #af4261);
    background-image: conic-gradient(#f3ec78, #af4261);
} */
#bid_lead{
    color:#f5457a
}
.add_terminate{
    color:#47ecc9
}
.logmodal{
    background-color:rgba(41, 39, 39, 0.7);
}
.logform{
    border: 2px solid white;
    background-color: #181d24;
    color:#faf3f3;
}
.txtarea{
    background-color: #4e4e50;
    border: 2px solid #be054f;
    border-radius: 25px ;
    color: #ffffff;
}
.txtarea:focus{
    background-color: #1b1b1d;
    border: 2px solid #be054f;
    border-radius: 25px ;
    color: #ffffff;
}

.custom_img{
    width:300px;
    height:300px;
    border:1px solid white;
}
.custom_img:hover{
    opacity: 0.5;
}


  .cont {
    position: relative;
    width: 50%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 300px;
    height: 300px;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 70%;
    margin-left:50px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .cont:hover .image {
    opacity: 0.3;
  }
  
  .cont:hover .middle {
    opacity: 1;
  }
  
  .text {
    /* background-color: #4CAF50; */
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }







  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn1{
    /* border: 2px solid rgb(38, 255, 9); */
    color: white;
    background-color: #4CAF50;
    padding: 8px 20px;
    /* border-radius: 8px; */
    /* font-size: 20px; */
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .rowcol{
      color:#18f160;
      font-size: 24px;
  }
  .rowcol .col-4{
    color:#24d7f7
  }